aiogram
python-dotenv
anthropic
google-generativeai
psycopg2-binary
sqlalchemy
pydantic
pydub
bs4
requests
aiohttp
pillow
python-telegram-bot[job-queue]
elevenlabs
APScheduler
yadisk
python-docx
PyPDF2
pytesseract 